* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

/* 

flex-direction => Alinha os elementos em linha(row) ou em colunas (column)
flex-wap => Realiza a quebra de linha 
flex-flow => Resume o flex-direction e o flex-wap em uma única linha
justify-content => Justifica o conteúdo
*/

.container {
    margin: 10px;
    border: 1px solid #62a;
    /* display : flex => Alinha os elementos um ao lado do outro */
    display: flex;
    width: 800px;
    height: 800px;
}

.block {
    width: 100px;
    height: 100px;
    background: #cdd728;
    border: 5px solid #975ba6;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    height: 100px;
    width: 100px;
}