* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

/* 

flex-direction => Alinha os elementos em linha(row) ou em colunas (column)
flex-wap => Realiza a quebra de linha 
flex-flow => Resume o flex-direction e o flex-wap em uma única linha
justify-content => Justifica o conteúdo
aling-items => Alinha os itens na área total
Aling-Content => Junta todo mundo no menor espaço possível e depois alinha
Gap => Espaçamento entre os itens
Flex-Basis => Delimita o tamanho dos itens
Flex-Grow => É a capacidade do item crescer no espaço vago / Controla quanto o item vai crescer
Flex-Shrink => Controla quanto o item vai encolher
Flex => Atalho para as propriedades (Basis | Grow | Shrink)
Order => Inverte as ordens de exibição dos itens.
Aling-Self => Alinha apenas um item individualmente.
*/

.container {
    margin: 10px;
    border: 1px solid #62a;
    /* display : flex => Alinha os elementos um ao lado do outro */
    display: flex;
    width: 800px;
    height: 800px;
}

.block {
    width: 100px;
    height: 100px;
    background: #cdd728;
    border: 5px solid #975ba6;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    height: 100px;
    width: 100px;
}